In [1]:
import pandas as pd

In [5]:
data1 = pd.read_excel('data1.xlsx')
data2 = pd.read_excel('data2.xlsx')

In [6]:
missing_in_data2 = data1[~data1[['Order ID', 'Product ID']].isin(data2[['Order ID', 'Product ID']]).any(axis=1)]
num_missing_in_data2 = len(missing_in_data2)
print(f"Number of records missing in data2: {num_missing_in_data2}")

Number of records missing in data2: 0

In [7]:
missing_in_data2

Empty DataFrame
Columns: [Order ID, Product ID, Qty]
Index: []

In [8]:
missing_in_data1 = data2[~data2[['Order ID', 'Product ID']].isin(data1[['Order ID', 'Product ID']]).any(axis=1)]
num_missing_in_data1 = len(missing_in_data1)
print(f"Number of records missing in data1: {num_missing_in_data1}")

Number of records missing in data1: 0

In [9]:
missing_in_data1

Empty DataFrame
Columns: [Order ID, Product ID, Qty]
Index: []

In [10]:
sum_missing_qty = missing_in_data1['Qty'].sum()
print(f"Sum of Qty for missing records in data1: {sum_missing_qty}")

Sum of Qty for missing records in data1: 0

In [11]:
num_unique_records = len(pd.concat([data1, data2]).drop_duplicates(['Order ID', 'Product ID']))
print(f"Total number of unique records: {num_unique_records}")

Total number of unique records: 9478

In [12]:
data1

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075    3
1     CA-2014-100090  FUR-TA-10003715    3
2     CA-2014-100090  OFF-BI-10001597    6
3     CA-2014-100293  OFF-PA-10000176    6
4     CA-2014-100328  OFF-BI-10000343    1
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100    3
9474  US-2017-169551  OFF-ST-10004835    3
9475  US-2017-169551  TEC-AC-10002018    3
9476  US-2017-169551  TEC-AC-10003033    2
9477  US-2017-169551  TEC-PH-10001363    2

[9478 rows x 3 columns]

In [13]:
data2

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075    3
1     CA-2014-100090  FUR-TA-10003715    3
2     CA-2014-100090  OFF-BI-10001597    6
3     CA-2014-100293  OFF-PA-10000176    6
4     CA-2014-100328  OFF-BI-10000343    1
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100    3
9474  US-2017-169551  OFF-ST-10004835    3
9475  US-2017-169551  TEC-AC-10002018    3
9476  US-2017-169551  TEC-AC-10003033    2
9477  US-2017-169551  TEC-PH-10001363    2

[9478 rows x 3 columns]